---
title: Contexto Internacional | Lanas Extremadura S.L.
---
{% include header.html %}
<div class="wrapper">
{% include big1.html %}
<div class="box">
		<div>
			<h1 class="title">Contexto internacional del sector</h1>

			<p><span class="dropcap">L</span>a producción de lana lleva disminuyendo ya bastantes años por la competencia de otras fibras naturales vegetales, como el algodón y el lino, y sobre todo por las fibras sintéticas derivadas de la industria del plástico (acrílicas, etc.). Así, desde 1990 se ha asistido a una disminución cercana al 40% de la producción mundial.</p>
			<p>En cuanto a los continentes destaca Asia por su dimensión y Oceanía por su especialización, entre ambos producen cerca del 70 % de la lana mundial. No obstante, Oceanía ha perdido mucha más producción en estos últimos años (casi el 60% desde 1990), al igual que otro continente tradicionalmente lanero como América, especialmente el Cono Sur, que también ha perdido más de la mitad de su producción. Todo ello, a pesar de los sistemas muy extensivos de estas dos áreas y sus costes de producción más bajos. En tanto que África ha perdido sólo algo menos de un 10% y Europa sobre un 12%, amortiguando una caída mucho mayor la P.A.C. del ovino.</p>
			<p>En los países tradicionales productores también ha habido cambios considerables, todos han perdido peso, excepto China. Australia ha perdido prácticamente 2/3 de su producción, aunque todavía aporta casi la quinta parte de toda la lana del mundo, Rusia ha pasado de ser el 2ºproductor mundial a ver reducida su producción casi en un 90% (desintegración territorial y productiva de la antigua URSS). Nueva Zelanda ha soportado la situación mejor que Australia, y sólo ha perdido un 30%; en tanto que países tan tradicionales como Argentina, Uruguay y Sudáfrica han disminuido su producción en estos 15 años en torno a un 50-60%. En este periodo ha sido China el único país en aumentar su producción lanera, y lo ha hecho en algo más del 50%.</p>
			<p><span class="dropcap">E</span> n cuanto a la UE, con casi un 10 % de la lana mundial, también ha perdido cerca de un 30% de su producción, siendo especialmente grave en los países del este (Bulgaria y Rumania), y mucho más suave en los países con más tradición, tanto en producción como en transformación, como el Reino Unido, incluso hay países donde se ha logrado mantener (España, Francia y Portugal). Reino Unido y España siguen siendo los dos mayores productores de lana de la UE.</p>
			<p>El comercio de la lana ha girado siempre en torno a un reducido número de países. Así, se pueden distinguir por un lado los grandes exportadores como Australia, Nueva Zelanda, Argentina, Sudáfrica y Uruguay (agrupan más del 90% de las exportaciones totales); y por otro los importadores como China, Rusia, EEUU y algunos países de la UE (Francia, Alemania, Reino Unido, Italia, España), que agrupan más del 80% de las importaciones de lana.</p>
			<h2>Comercialización de la lana</h2>
			<p><span class="dropcap">A</span> nivel mundial, Australia es el principal exportador tanto de lana limpia como de lana grasienta. En cuanto a las importaciones, con respecto a la lana grasienta el país que más importa es China y con respecto a la lana limpia es India.</p>
		</div>
		<div class="clear"></div>

</div>
<!-- End Container -->
{% include big2.html %}
</div>
<!-- End Wrapper -->

{% include footer.html %}