---
title: Contacta con nosotros | Lanas Extremadura S.L.
---
{% include header.html %}
<div class="wrapper">
{% include big1.html %}
<div class="content box">

	<h1 class="title">Contacta con nosotros</h1>
		<p><strong>Lanas Extremadura S.L.</strong> está situada en la localidad pacense de <b>Trujillanos (Badajoz)</b>, punto céntrico respecto a la localización de la mayoría y más importantes explotaciones ganaderas de ovino merino en Extremadura y el suroeste de España.</p>
		<div class="map"><iframe width="630" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m21!1m8!1m3!1d12411.436584427895!2d-6.277151251042253!3d38.95004611020647!3m2!1i1024!2i768!4f13.1!4m10!1i0!3e0!4m3!3m2!1d38.9467363!2d-6.2871466!4m3!3m2!1d38.948929199999995!2d-6.2746303999999995!5e0!3m2!1ses!2ses!4v1401125049024"></iframe></div>
	<h3>Escríbenos sin compromiso</h3>
	<p>Envíanos tus dudas, preguntas o comentarios a través de este formulario.</p>

	<div class="form-container">
		<form class="forms" action="#" method="post">
			<fieldset>
				<ol>
					<li class="form-row text-input-row"><label>Nombre</label><input type="text" name="name" value="" class="text-input required" title="" /></li> 
					<li class="form-row text-input-row"><label>Dirección de correo</label><input type="text" name="email" value="" class="text-input required email" title="" /></li> 
					<li class="form-row text-input-row"><label>Asunto</label><input type="text" name="subject" value="" class="text-input required" title="" /></li> 
					<li class="form-row text-area-row"><label>Mensaje</label><textarea name="message" class="text-area required"></textarea></li> 
					<li class="button-row"><input type="submit" value="Enviar" name="submit" class="btn-submit" /></li>
				</ol>
			</fieldset>
		</form>
	</div>



</div>
<!-- End Container -->

<!-- Begin Sidebar -->
<div class="sidebar box">
  <div class="sidebox widget">
			<h3 class="widget-title">Dónde estamos</h3>
			<p>Trujillanos, Badajoz.<br />Siga las instrucciones del mapa.</p>
			<p>
				<span class="lite1">Tel:</span> +34 622 56 90 40<br />
				<span class="lite1">E-mail:</span> adriansan@gmx.es
			</p>
	</div>
	
	<div class="sidebox widget">
		<h3 class="widget-title">Cómo llegar</h3>
		<p>En la rotonda de entrada al pueblo coger la salida hacia la Volvo y, en esa carretera paralela a la autovía, a 300 metros están nuestras naves color verde. Fácilmente visibles desde la autovía y fácilmente localizables por las altas grúas de la nave colindante.</p>
	</div>
	
</div>
<!--End Sidebar -->
<div class="clear"></div>
<!-- End Container -->
{% include big2.html %}
</div>
<!-- End Wrapper -->

{% include footer.html %}