---
title: Nuestras lanas | Lanas Extremadura S.L.
---
{% include header.html %}
<div class="wrapper">
{% include big1.html %}
<div class="content box">

	<h1 class="title">Nuestras lanas</h1>
	<blockquote>Nuestras lanas se encuentran en todo momento bajo condiciones adecuadas de higiene y humedad. Los análisis certificados realizados por la WTAE revelan un rendimiento aproximado del 50%, con un porcentaje de materia vegetal siempre inferior al 1%.</blockquote>
	
	<h2 id="tipo-2">Lana de Tipo 2</h2>
	<p>Lana grasienta de entre 22 y 23 micras, de color blanco y una longitud de 50-60mm. Representa la gran mayoría de nuestras lanas (70% aproximadamente).</p>
	<div class="outer none"><span class="inset"><img src="style/images/lanas/tipo2.jpg" alt="Lana de tipo 2" title="Lana de tipo 2" /></span></div>
	
	<h2 id="tipo-3">Lana de Tipo 3</h2>
	<p>Lana de entre 24 y 25 micras.</p>
	<div class="outer none"><span class="inset"><img src="style/images/lanas/tipo3.jpg" alt="Lana de tipo 3" title="Lana de tipo 3" /></span></div>

	<h2 id="tipo-4">Lana de Tipo 4</h2>
	<p>Lana de entre 25 y 27 micras.</p>
	<div class="outer none"><span class="inset"><img src="style/images/lanas/tipo4.jpg" alt="Lana de tipo 4" title="Lana de tipo 4" /></span></div>
	

	<h2 id="tipo-5">Lana de Tipo 5</h2>
	<p>Lana con pelo muerto.</p>
	<div class="outer none"><span class="inset"><img src="style/images/lanas/tipo5.jpg" alt="Lana de tipo 5" title="Lana de tipo 5" /></span></div>

	<h2 id="tipo-6-7">Lana de Tipo 6/7</h2>
	<p>También conocida como "garras". Calibre muy grueso.</p>
	<div class="outer none"><span class="inset"><img src="style/images/lanas/tipo6-7.jpg" alt="Lana de tipo 6/7" title="Lana de tipo 6/7" /></span></div>

	<h2 id="segundas">Segundas</h2>
	<p>Lana corta de cordero y barriguera del vellón.</p>
	<div class="outer none"><span class="inset"><img src="style/images/lanas/segundas.jpg" alt="Lana de segundas" title="Lana de segundas" /></span></div>

	<h2 id="grises-negras">Lanas grises o lanas negras</h2>
	<p>Lanas de color.</p>
	<div class="outer none"><span class="inset"><img src="style/images/lanas/grises.jpg" alt="Lanas grises o negras" title="Lanas grises o negras" /></span></div>

	<h2 id="marcas-pez">Lanas con marcas de pez</h2>
	<p>Lanas con restos del petróleo para marcar las ovejas</p>
	<div class="outer none"><span class="inset"><img src="style/images/lanas/pez.jpg" alt="Lanas con marcas de pez" title="Lanas con marcas de pez" /></span></div>
</div>
<!-- End Container -->

<!-- Begin Sidebar -->
<div class="sidebar box">
  <div class="sidebox widget">
			<h1 class="widget-title">Índice de lanas</h3>
			<ul class="post-list">
			  	<li> 
			  		<div class="frame">
			  			<a href="#tipo-2"><img src="style/images/lanas/tipo2.thumb.jpg" /></a>
			  		</div>
					<div class="meta">
					    <h3><a href="#tipo-2">Lana de Tipo 2</a></h6>
					    <em>22-23 micras</em>
				    </div>
				</li>
				<li> 
			  		<div class="frame">
			  			<a href="#tipo-3"><img src="style/images/lanas/tipo3.thumb.jpg" /></a>
			  		</div>
					<div class="meta">
					    <h3><a href="#tipo-3">Lana de Tipo 3</a></h6>
					    <em>24-25 micras</em>
				    </div>
				</li>
				<li> 
			  		<div class="frame">
			  			<a href="#tipo-4"><img src="style/images/lanas/tipo4.thumb.jpg" /></a>
			  		</div>
					<div class="meta">
					    <h3><a href="#tipo-4">Lana de Tipo 4</a></h6>
					    <em>25-27 micras</em>
				    </div>
				</li>
				<li> 
			  		<div class="frame">
			  			<a href="#tipo-5"><img src="style/images/lanas/tipo5.thumb.jpg" /></a>
			  		</div>
					<div class="meta">
					    <h3><a href="#tipo-5">Lana de Tipo 5</a></h6>
					    <em>Con pelo muerto</em>
				    </div>
				</li>
				<li> 
			  		<div class="frame">
			  			<a href="#tipo-6-7"><img src="style/images/lanas/tipo6-7.thumb.jpg" /></a>
			  		</div>
					<div class="meta">
					    <h3><a href="#tipo-6-7">Lana de Tipo 6/7</a></h6>
					    <em>Calibre muy grueso</em>
				    </div>
				</li>
				<li> 
			  		<div class="frame">
			  			<a href="#segundas"><img src="style/images/lanas/segundas.thumb.jpg" /></a>
			  		</div>
					<div class="meta">
					    <h3><a href="#segundas">Segundas</a></h6>
					    <em>Lana corta</em>
				    </div>
				</li>
				<li> 
			  		<div class="frame">
			  			<a href="#grises-negras"><img src="style/images/lanas/grises.thumb.jpg" /></a>
			  		</div>
					<div class="meta">
					    <h3><a href="#grises-negras">Lanas grises o lanas negras</a></h6>
					    <em>De color</em>
				    </div>
				</li>
				<li> 
			  		<div class="frame">
			  			<a href="#marcas-pez"><img src="style/images/lanas/pez.thumb.jpg" /></a>
			  		</div>
					<div class="meta">
					    <h3><a href="#marcas-pez">Lanas con marcas de pez</a></h6>
					    <em>Con restos de marcaje</em>
				    </div>
				</li>
			</ul>
			
	</div>
	
	<div class="sidebox widget">
		<h3 class="widget-title">Precios</h3>
		<div><p>Utilice el formulario habilitado en la <a href="contacto.html">página de contacto</a> o llámenos directamente.</p></div>
	</div>
	
</div>
<!--End Sidebar -->
<div class="clear"></div>
{% include big2.html %}
</div>
<!-- End Wrapper -->

{% include footer.html %}