---
title: Servicios | Lanas Extremadura S.L.
---
{% include header.html %}
<div class="wrapper">
{% include big1.html %}
<div class="content box">

	<h1 class="title">Nuestros servicios</h1>
	<p>Desde <strong>Lanas Extremadura S.L.</strong> aseguramos:</p>
	<ul>
		<li><b>Mantener una imagen de calidad</b>. En todos los aspectos del negocio: buena atención a proveedores y clientes,  transparencia, seriedad, buen trato, etc.</li>
		<li><b>Rapidez máxima en la retirada de las lanas</b>. Una vez los ganaderos han esquilado sus ovejas y tienen la lana a granel en alguna nave, ésta suele “estorbarles” en cuanto a que ocupa grandes espacios que los ganaderos necesitan para otras actividades. Así, se tratará de retirar la lana el mismo día que ésta se pese.</li>
		<li><b>Pago inmediato</b>. A diferencia de otras empresas del sector que atrasan sus pagos durante meses, nosotros realizamos los pagos de forma inmediata, en el mismo momento que la lana sea retirada.</li>
	</ul>

	<div class="outer none"><span class="inset"><img src="style/images/servicios/general.jpg" alt="" title="" /></span></div>
	<h2 id="compra-envasado">1. Compra y envasado</h2>
	<p><span class="dropcap">L</span> a lana se compra directamente a los ganaderos, haciendo una primera valoración de la calidad de las lanas y estableciendo un precio de compra acorde a las mismas. El precio se fijará en euros por kilogramo de lana.</p>
	<p>Las zonas de compra son principalmente las provincias de Cáceres y Badajoz y en menor medida las zonas de Huelva, Sevilla, Ciudad Real y Salamanca.</p>
	<p>Al llegar a la explotación ganadera, la lana se encuentra generalmente a granel, formando una pila; pero para su transporte es necesario envasar la lana en sacas o balas. Las sacas tienen una capacidad aproximada de 65 kg de lana y pueden ser de dos materiales: rafia o yute; mientras que las balas están fabricadas de fibras de plástico duro y pueden albergar unos 90 kg cada una. Mediante el uso de una estriba, se amarra una saca o bala que se va llenando de lana por la parte superior. Para almacenar la mayor cantidad de lana posible en cada uno de los envases, un operario se sube a la estriba y pisa la lana, empujándola hacia el interior del envase. Posteriormente los envases se atan: las sacas con cuerda e hilo y las balas con grapas de acero. Por último, y si fuera necesario, se marcan con rotulador para que una vez lleguen al almacén, se conozca la explotación de procedencia.</p>
	<div class="outer none"><span class="inset"><img src="style/images/servicios/compra.jpg" alt="" title="" /></span></div>
	<p><span class="dropcap">E</span> n ocasiones, tras entregarles los envases necesarios, son los propios ganaderos los que se encargan de envasar la lana según se procede al esquileo de las ovejas. En tales casos resulta de gran ayuda que las lanas se envasen en una zona sin mucha paja y que las negras se envasen en una saca aparte, separándola de la lana blanca. </p>
	<p>Es absolutamente necesario que lanas no estén mojadas y/o con problemas de sarna o polillas. La lana, aunque sea en bajas proporciones, siempre tiene estiércol de la oveja; por eso si se moja se desencadena un proceso de fermentación que hace que la lana se vuelva quebradiza e inservible. Aconsejamos guardar la lana bajo techo y poner sacos de plástico en el suelo en la zona donde se vaya a apilar la lana.</p>

	<h2 id="pesaje-pago">2. Pesaje y pago</h2>
	<p><span class="dropcap">L</span> a lana se pesará en la propia explotación ganadera mediante una romana o en el propio camión mediante una báscula para camiones. </p>
	<p>Al peso bruto habrá que descontar la tara (el peso de los envases, que variará dependiendo de si se trata de sacas de yute, de plástico o balas) y una vez sabido el peso neto, se pagará de inmediato al ganadero.</p>

	<h2 id="retirada-almacenamiento">3. Retirada y almacenamiento</h2>
	<p><span class="dropcap">L</span> os envases de lana (de entre 40 y 100 kg de peso generalmente) se cargarán en uno de los camiones de la empresa, con ayuda de un carga-alpacas si fuera necesario. Posteriormente se procede al transporte hasta el centro de clasificación y almacenamiento de lana en nuestras naves de Trujillanos, quedando reflejado el origen, cantidad y destino de las lanas en el correspondiente documento comercial para el traslado de material SANDACH de la Categoria 3 (Subproducto de origen Animal No Destinado Al Consumo Humano).</p>
	<p>Las balas y sacas se descargan y apilan por medio de una carretilla elevadora colocando en diferente lugar las partidas que son más finas (merinas) de las que son más gruesas (entrefinas y con pelo).</p>
	<div class="outer none"><span class="inset"><img src="style/images/servicios/almacenamiento.jpg" alt="" title="" /></span></div>	
	<h2 id="clasificacion">4. Clasificación</h2>
	<p><span class="dropcap">L</span> as sacas  son cogidas de la pila y vaciadas encima de los zarzos (mesas con rejillas), procediéndose al  sorteo o  clasificación de toda la lana, sacudiendo y estirando el vellón de lana para que caiga la tierra y/o estiércol  que contenga. Así, las lanas se van separando en distintas clases atendiendo a su grosor, color y largura (ver sección <a href="lanas.html">"Tipos de lana"</a>).</p>
	<div class="outer none"><span class="inset"><img src="style/images/servicios/clasificacion.jpg" alt="" title="" /></span></div>
	
	<h2 id="prensado-venta">5. Prensado y venta</h2>
	<p><span class="dropcap">C</span> ada tipo de lana por separado pasa de la cinta transportadora  a la prensa, donde se obtienen unos paquetes de lana prensada con un peso que oscila entre 350 y 450 kg, y unas dimensiones de 160X80X80cm aproximadamente.</p>
	<p>Los paquetes resultantes  son pesados en la báscula y marcados para controlar su clase, lote y peso. Posteriormente se apilan según el tipo de lana hasta el momento de su venta al por mayor.</p>
	<div class="outer none"><span class="inset"><img src="style/images/servicios/prensado.jpg" alt="" title="" /></span></div>


</div>
<!-- End Container -->

<!-- Begin Sidebar -->
<div class="sidebar box">
  <div class="sidebox widget">
			<h1 class="widget-title">Índice de servicios</h3>
			<ul class="post-list">
			  	<li> 
			  		<div class="frame">
			  			<a href="#compra-envasado"><img src="style/images/servicios/compra.thumb.jpg" /></a>
			  		</div>
					<div class="meta">
					    <h3><a href="#compra-envasado">Compra y envasado</a></h6>
					    <em>28th Sep 2012</em>
				    </div>
				</li>
				<li> 
			  		<div class="frame">
			  			<a href="#pesaje-pago"><img src="style/images/art/s2.jpg" /></a>
			  		</div>
					<div class="meta">
					    <h3><a href="#pesaje-pago">Pesaje y pago</a></h6>
					    <em>5th Sep 2012</em>
				    </div>
				</li>
				<li> 
			  		<div class="frame">
			  			<a href="#retirada-almacenamiento"><img src="style/images/servicios/almacenamiento.thumb.jpg" /></a>
			  		</div>
					<div class="meta">
					    <h3><a href="#retirada-almacenamiento">Retirada y almacenamiento</a></h6>
					    <em>26th Sep 2012</em>
				    </div>
				</li>
				<li> 
			  		<div class="frame">
			  			<a href="#clasificacion"><img src="style/images/servicios/clasificacion.thumb.jpg" /></a>
			  		</div>
					<div class="meta">
					    <h3><a href="#clasificacion">Clasificación</a></h6>
					    <em>26th Sep 2012</em>
				    </div>
				</li>
				<li> 
			  		<div class="frame">
			  			<a href="#prensado-venta"><img src="style/images/servicios/prensado.thumb.jpg" /></a>
			  		</div>
					<div class="meta">
					    <h3><a href="#prensado-venta">Prensado y venta</a></h6>
					    <em>26th Sep 2012</em>
				    </div>
				</li>
			</ul>
			
	</div>
	
	<div class="sidebox widget">
		<h3 class="widget-title">Search</h3>
		<form class="searchform" method="get" action="#">
			<input type="text" name="s" value="type and hit enter" onFocus="this.value=''" onBlur="this.value='type and hit enter'"/>
		</form>
	</div>
	
	<div class="sidebox widget">
		<h3 class="widget-title">Custom Text</h3>
		<div>Suspendisse eu odio quis elit ultrice commodo tempor eget arcu. Sedur aliquet posuere lectus aliquam iaculi. Curabitur a risus metus. In ut lorem nisl, et adipiscing sapien. Donec sed risus tristiq scelerisque. </div>
	</div>
	
	<div class="sidebox widget">
		<h3 class="widget-title">Categories</h3>
			<ul>
				<li><a href="#">Detektivbyrån</a></li>
				<li><a href="#">Flowers</a></li>
				<li><a href="#">Funny</a></li>
				<li><a href="#">Journal</a></li>
				<li><a href="#">Landscape</a></li>
				<li><a href="#">Nature</a></li>
				<li><a href="#">Photography</a></li>
				<li><a href="#">Video</a>
			</li>
		</ul>
</div></div>
<!--End Sidebar -->
<div class="clear"></div>
</div>

{% include footer.html %}