<!-- Begin Footer -->
<div class="footer-wrapper">
<div id="footer" class="four">
		<div id="first" class="widget-area">
<p>[place]</p>
			<div class="widget widget_archive">
				<h3 class="widget-title">Archives</h3>
				<ul>
					<li><a href="#">September 2012</a> (6)</li>
					<li><a href="#">August 2012</a> (2)</li>
					<li><a href="#">July 2012</a> (2)</li>
					<li><a href="#">June 2012</a> (4)</li>
					<li><a href="#">May 2012</a> (3)</li>
					<li><a href="#">January 2012</a> (1)</li>
				</ul>
			</div>	
		</div><!-- #first .widget-area -->
	
		<div id="second" class="widget-area">
			<div id="twitter-2" class="widget example">
					<h3 class="widget-title">Texto de prueba</h3>
					
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur.</p>
			</div>
		</div><!-- #second .widget-area -->
	
	
		<div id="third" class="widget-area">
		<div id="example-widget-3" class="widget example">
			<h3 class="widget-title">Algunas de nuestras lanas</h3>
			<ul class="post-list">
			  	<li> 
			  		<div class="frame">
			  			<a href="lanas.html#tipo-2"><img src="style/images/lanas/tipo2.thumb.jpg" /></a>
			  		</div>
					<div class="meta">
					    <h3><a href="lanas.html#tipo-2">Lana de Tipo 2</a></h6>
					    <em>22-23 micras</em>
				    </div>
				</li>
				<li> 
			  		<div class="frame">
			  			<a href="lanas.html#tipo-3"><img src="style/images/lanas/tipo3.thumb.jpg" /></a>
			  		</div>
					<div class="meta">
					    <h3><a href="lanas.html#tipo-3">Lana de Tipo 3</a></h6>
					    <em>24-25 micras</em>
				    </div>
				</li>
				<li> 
			  		<div class="frame">
			  			<a href="lanas.html#tipo-4"><img src="style/images/lanas/tipo4.thumb.jpg" /></a>
			  		</div>
					<div class="meta">
					    <h3><a href="lanas.html#tipo-4">Lana de Tipo 4</a></h6>
					    <em>25-27 micras</em>
				    </div>
				</li>
			</ul>
			
		</div>
		</div><!-- #third .widget-area -->
		
		<div id="fourth" class="widget-area">
		<div class="widget">
			<h3 class="widget-title">Contacta con nosotros</h3>
			<p><strong>Lanas Extremadura S.L.</strong><br />622 56 90 40</p>
			<p><a href="contacto.html" style="border-bottom: 1px dotted #AAA">Más información</a>
		</div>
		</div><!-- #fourth .widget-area -->
	</div>
</div>
<div class="site-generator-wrapper">
	<div class="site-generator">Diseño original de <a href="http://elemisfreebies.com">elemis</a> // Adaptado por <a href="https://www.twitter.com/jaime_rgp" target="_blank">@jaime_rgp</a> // Material fotográfico proporcionado por Sara Viviens</div>
</div>
<!-- End Footer --> 
<script type="text/javascript" src="style/js/scripts.js"></script>
</body>
</html>